{% extends 'books/base.html' %}

{% block content %}


<h2 class='text-center'>Libros para donación de maternal:</h2>
<div class="mt-3 books__list d-flex justify-content-center">
    <ul>
        {% for book in books %}
        <div>
            <li class="open-AddBookDialog" data-id={{book.id}} data-toggle="modal" data-target="#books__modal"><span>&#x1f4d6;</span> {{book.title}}</li>
        </div>
        {% endfor %}
    </ul>
</div>
<div class="mt-5 d-flex justify-content-center">
    <a href="{% url 'home' %}">
        <button type="button" class="btn btn-primary">Regresar al inicio</button>
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="books__modal" tabindex="-1" role="dialog" aria-labelledby="books__modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="books__modalLabel">Donar libro</h5>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <input id="bookId" name="bookId" type="hidden" value="">
                    <div class="form-group">
                        <label for="responsable">Responsable de la donación</label>
                        <input class="form-control" type="text" name="responsable" id="responsable" required>
                    </div>
                    <button type="submit" class="mt-2 btn btn-primary">Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}